# Downloading Data
In this notebook we will download historical data via the Bitfinex API. We will be following this article: https://medium.com/coinmonks/how-to-get-historical-crypto-currency-data-954062d40d2d

but will make some alterations for our needs. 

We will be mining 1 year of data with each datapoint consisting of 30min timeframes. The data will be in the format of OHLCV which we will use to then create our candlestick chart dataset. 

This notebook will only be for mining data, the following will be used for the creation of our images & normalization.

In [1]:
import bitfinex
import pandas as pd
import time
import datetime

In [3]:
# Creating a function to make several calls. 
# The API limits 60 calls a minute, but I have experienced lower amount of calls get reject
# Those we will make a single call to the API every 5 seconds
# Each call will retrieve one-weeks worth of data

In [31]:
def fetch_data(start, stop, symbol, interval, tick_limit, step):
    # instantiating instance
    api_v2 = bitfinex.bitfinex_v2.api_v2()
    data = [] # will hold all data
    start = start - step
    while start < stop:
        # time window
        start = start + step
        end = start + step
        
        # getting data
        res = api_v2.candles(symbol=symbol, interval=interval, limit=tick_limit, start=start, end=end)
        data.extend(res)
        time.sleep(5) # sleeping for 5 seconds
        
    # returning 
    return data

In [32]:
m30 = 60000 * 30
h1 = m30 * 2
d1 = h1 * 24
w1 = d1 * 7 # our timestep in miliseconds

In [39]:
# Setting our hyper parameters
time_step = w1

# start and end
t_start = datetime.datetime(2019, 5, 24, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2019, 6, 23, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

pair = 'btcusd'
bin_size = '30m'

limit = w1 / m30 # limit to a week of calls

In [40]:
# Making our call
pair_data = fetch_data(start=t_start, stop=t_stop, symbol=pair, interval=bin_size, tick_limit=limit, step=time_step)

No keys, only access to public API functions

## Second Attempt

In [2]:
api_v2 = bitfinex.bitfinex_v2.api_v2()

No keys, only access to public API functions

In [3]:
# # Parameters - 30 MIN
# pair = 'btcusd'
# bin_size = '30m'
# limit = 5000

In [3]:
# Parameters - 1HR 
pair = 'btcusd'
bin_size = '1h'
limit = 5000

In [ ]:
# # Parameters - 4HR 
# pair = 'btcusd'
# bin_size = '4h'
# limit = 5000

In [4]:
# one
t_start = datetime.datetime(2017, 1, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2017, 3, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

seg1 = api_v2.candles(symbol=pair, interval=bin_size, limit=limit, start=t_start, end=t_stop)

In [5]:
# two
t_start = datetime.datetime(2017, 3, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2017, 5, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

seg2 = api_v2.candles(symbol=pair, interval=bin_size, limit=limit, start=t_start, end=t_stop)

In [6]:
# three
t_start = datetime.datetime(2017, 5, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2017, 7, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

seg3 = api_v2.candles(symbol=pair, interval=bin_size, limit=limit, start=t_start, end=t_stop)

In [7]:
# four
t_start = datetime.datetime(2017, 7, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2017, 9, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

seg4 = api_v2.candles(symbol=pair, interval=bin_size, limit=limit, start=t_start, end=t_stop)

In [8]:
# five
t_start = datetime.datetime(2017, 9, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2017, 11, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

seg5 = api_v2.candles(symbol=pair, interval=bin_size, limit=limit, start=t_start, end=t_stop)

In [9]:
# six
t_start = datetime.datetime(2017, 11, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2018, 1, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

seg6 = api_v2.candles(symbol=pair, interval=bin_size, limit=limit, start=t_start, end=t_stop)

In [10]:
# seven
t_start = datetime.datetime(2018, 1, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2018, 3, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

seg7 = api_v2.candles(symbol=pair, interval=bin_size, limit=limit, start=t_start, end=t_stop)

In [11]:
# eight
t_start = datetime.datetime(2018, 3, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2018, 5, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

seg8 = api_v2.candles(symbol=pair, interval=bin_size, limit=limit, start=t_start, end=t_stop)

In [12]:
# nine
t_start = datetime.datetime(2018, 5, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2018, 7, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

seg9 = api_v2.candles(symbol=pair, interval=bin_size, limit=limit, start=t_start, end=t_stop)

In [13]:
# ten
t_start = datetime.datetime(2018, 7, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2018, 9, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

seg10 = api_v2.candles(symbol=pair, interval=bin_size, limit=limit, start=t_start, end=t_stop)

In [14]:
# 11
t_start = datetime.datetime(2018, 9, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2018, 11, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

seg11 = api_v2.candles(symbol=pair, interval=bin_size, limit=limit, start=t_start, end=t_stop)

In [15]:
# 12
t_start = datetime.datetime(2018, 11, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2019, 1, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

seg12 = api_v2.candles(symbol=pair, interval=bin_size, limit=limit, start=t_start, end=t_stop)

In [16]:
# 13
t_start = datetime.datetime(2019, 1, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2019, 3, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

seg13 = api_v2.candles(symbol=pair, interval=bin_size, limit=limit, start=t_start, end=t_stop)

In [17]:
# 14
t_start = datetime.datetime(2019, 3, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2019, 5, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

seg14 = api_v2.candles(symbol=pair, interval=bin_size, limit=limit, start=t_start, end=t_stop)

In [18]:
# 15
t_start = datetime.datetime(2019, 5, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

t_stop = datetime.datetime(2019, 7, 1, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

seg15 = api_v2.candles(symbol=pair, interval=bin_size, limit=limit, start=t_start, end=t_stop)

In [19]:
# Load each into a pandas dataframe
names = ['time', 'open', 'close', 'high', 'low', 'volume']

df1 = pd.DataFrame(seg1, columns=names)
df2 = pd.DataFrame(seg2, columns=names)
df3 = pd.DataFrame(seg3, columns=names)
df4 = pd.DataFrame(seg4, columns=names)
df5 = pd.DataFrame(seg5, columns=names)
df6 = pd.DataFrame(seg6, columns=names)
df7 = pd.DataFrame(seg7, columns=names)
df8 = pd.DataFrame(seg8, columns=names)
df9 = pd.DataFrame(seg9, columns=names)
df10 = pd.DataFrame(seg10, columns=names)
df11 = pd.DataFrame(seg11, columns=names)
df12 = pd.DataFrame(seg12, columns=names)
df13 = pd.DataFrame(seg13, columns=names)
df14 = pd.DataFrame(seg14, columns=names)

In [20]:
# concatting all dataframes
datastore = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14], ignore_index=True)

In [21]:
datastore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20408 entries, 0 to 20407
Data columns (total 6 columns):
time      20408 non-null int64
open      20408 non-null float64
close     20408 non-null float64
high      20408 non-null float64
low       20408 non-null float64
volume    20408 non-null float64
dtypes: float64(5), int64(1)
memory usage: 956.7 KB

In [22]:
# Dropping duplicates
datastore.drop_duplicates(inplace=True)

In [23]:
datastore.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20395 entries, 0 to 20406
Data columns (total 6 columns):
time      20395 non-null int64
open      20395 non-null float64
close     20395 non-null float64
high      20395 non-null float64
low       20395 non-null float64
volume    20395 non-null float64
dtypes: float64(5), int64(1)
memory usage: 1.1 MB

In [24]:
datastore.head()

            time    open   close    high     low      volume
0  1488344400000  1191.9  1190.1  1192.7  1190.0  269.220376
1  1488340800000  1191.9  1191.9  1193.7  1190.9  123.427439
2  1488337200000  1191.2  1191.6  1195.1  1190.9  235.615884
3  1488333600000  1192.0  1191.1  1194.1  1190.0  433.826179
4  1488330000000  1188.9  1192.1  1192.2  1188.1  515.103091

In [25]:
# Set index as time and sort asscendingly
datastore['time'] = pd.to_datetime(datastore['time'], unit='ms')
datastore.set_index('time', inplace=True)
datastore.sort_index(inplace=True)
datastore.reset_index(inplace=True)

In [26]:
# let's check if it works
datastore.head()

                 time    open   close    high     low      volume
0 2017-01-01 05:00:00  962.98  964.88  965.20  962.11   91.042053
1 2017-01-01 06:00:00  963.90  967.45  967.45  962.72  105.664480
2 2017-01-01 07:00:00  966.48  965.81  967.41  965.80   27.489011
3 2017-01-01 08:00:00  965.81  965.46  965.86  962.60  149.617696
4 2017-01-01 09:00:00  965.41  965.98  966.57  965.37   32.288503

In [27]:
datastore.tail()

,time,open,close,high,low,volume
20390,2019-05-01 00:00:00,5599.522730,5620.0,5655.0,5589.720065,540.429229
20391,2019-05-01 01:00:00,5620.411340,5619.4,5633.2,5615.597746,99.421220
20392,2019-05-01 02:00:00,5619.370256,5620.6,5643.0,5619.258079,374.486395
20393,2019-05-01 03:00:00,5622.300000,5619.1,5629.7,5591.900000,280.237526
20394,2019-05-01 04:00:00,5619.100000,5624.9,5625.1,5615.700000,234.429850

In [28]:
# Eveyrthing looks good, let's save it! 
import os

In [29]:
file_name = 'btcusd_ohlc_2017_2019_1H.csv'
path = './post_processing/'

datastore.to_csv(f'{path}/{file_name}', index=False)